<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IITM Paradox WebOps</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body class="bg-base text-fg font-sans">

  <header class="header">
    <h1 class="title">Paradox WebOps</h1>
    <p class="subtitle">the web backbone of IIT Madras Paradox.</p>
  </header>

  <main class="container">
    <section class="section-random">
      <a class="btn" href="rand">Enter the Webring!</a>
    </section>

    <section class="section-members">
      <h2 class="section-title">Our Team</h2>
        <ul class="member-list">
          {{ range .Sites }}
          <li class="member-card 
            {{ if eq .Role "core" }}core-member{{ else if eq .Role "deputy" }}deputy-member{{ end }}">
            <a class="member-link" href="{{ .URL | safe }}" target="_blank">
              <strong>{{ .Name }}</strong>
            </a>
            <p class="about">{{ .About }}</p>

            {{ if .GitHub }}
            <p class="contact">
              🔗 <a href="{{ .GitHub }}" target="_blank">
                <code>{{ last (split .GitHub "/") }}</code>
              </a>
            </p>
            {{ end }}

            {{ if .Owner }}
            <p class="contact">📧 {{ .Owner }}</p>
            {{ end }}
          </li>
          {{ end }}
        </ul>

    </section>
  </main>

  <footer class="footer">
    <p>Last updated: {{ .CurrentTime }}</p>
    <p>
      Maintained by <strong>Paradox WebOps</strong> —
      <a href="https://github.com/iitm-paradox/webring">View on GitHub</a>
    </p>
  </footer>

</body>
</html>
